{%extends 'base.html'%}
{% block title%} Crear {% endblock %}
{% block content%}
<h1 class="title">Agregar Peticion de usuario</h1>
<div class="contenedor">
    <form class="form" method="POST" action="{{ url_for('admin_song.add_request') }}">
        <label for="song">song</label>
        <input type="text" id="song" name="song" required>
        <label for="user">user</label>
        <input type="text" id="user" name="user" required>
</div>

<div class="MarginButton">
    <input class="Button" type="submit" value="Agregar">
    </div>
</form>
    <div class="MarginButton">
        <a class="Button" type="Button" value="Ver Noticias" href="{{ url_for('admin_song.show_all_request')}}">Ver Peticiones</a>
        </div>
{% endblock %}